
<div *ngIf="true" class="blog-card" routerLink="/groupPage/{{group.groupId}}">
    <div class="inner-part">
      <label class="img">
        <img *ngIf="group.image==null"  src='https://mentoringgroup.com/files/images/puzzle-team.jpg'/>
        <img *ngIf="group.image!=null"  src='http://localhost:1234/getAdvImg/{{group.image}}'/>
      </label>
      <div class="content ">
        <div class="title">{{group.name}}</div>
        <label for="">{{group.subjectName}}</label>
      </div>
    </div>
  </div>
