<body>
  <app-navbar></app-navbar>
  <div id="content">
  <div *ngIf="friendsVisible" class="friends">
      <button mat-raised-button class="ml-2" (click)="closeFriends()"><i class="fas fa-minus-circle"></i>Закрыть</button>
    <div *ngFor ='let user of friends' align="center">
      <app-user-card [(us)]="user"  routerLink="/userPage/{{user.userId}}"></app-user-card>
    </div>
  </div>
  <div align="center">
      <div *ngIf="true" class="blog-card" align = left>
        <div class="inner-part">
          <label class="img">
            <img  src='https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSaY9UGZkwA_Am-IgAiVJkD0VoluyIJXM8OOi57ioAp5gj5CAkM'/>
          </label>
          <div class="content " align="center">
            <div class="title">{{user?.lastName}} {{user?.firstName}} {{user?.middleName}}</div>
              <span *ngIf="!(user?.birthday == underfined)">Дата рождения: {{user?.birthday}}</span>
          </div>
        </div>
        <div class="buttons">
          <button mat-raised-button class="ml-2" (click)="openGroupForm()" *ngIf="yourPage"><i class="fas fa-cog"></i> Настройки</button>
          <button mat-raised-button class="ml-2" (click)="openFriends()"><i class="fas fa-user-circle"></i> Друзья</button>
          <button mat-raised-button class="ml-2" (click)="showGroups()"><i class="fas fa-users"></i> Группы</button>
          <button mat-raised-button class="ml-2" *ngIf="!yourPage"><i class="fas fa-comments"></i> Написать</button>
        </div>
      </div>
      <div class="groups" *ngIf="groupsVisible">
        <button mat-raised-button class="ml-2" (click)="closeGroups()"><i class="fas fa-minus-circle"></i>Закрыть</button>
        <div *ngFor="let group of groups">
          <app-mini-group-card [(gr)]="group"></app-mini-group-card>
        </div>
      </div>
    </div>
  </div>
</body>
