<div class="card m-3">
    <div  routerLink="/userPage/{{user.userId}}" class="part1"> 
        <img *ngIf="user.userImageKey!=undefined" src="http://95.30.222.140:1234/getuserimg/{{user.userImageKey}}" alt="profile_pic" style="width:70px; height:70px; border-radius:50%;">
        <img  *ngIf="user.userImageKey==undefined" src="https://dontshake.org/media/k2/items/cache/71f67488b0857639cee631943a3fc6fa_XL.jpg" alt="profile_pic" style="width:55px">
        <div class="name">{{user.firstname}} {{user.lastname}}</div>
        <div>Преподаватель</div>
    </div>
    <div class="part2">
       <div class="data mt-1">
        <div class="tools" style="min-height:5px; color:red; font-weight:555;">
                {{message}}
           </div>
           <h4 сlass="title">Документы и Сертификаты </h4>
        </div>
        <div class="documents mt-1">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                <ng-container matColumnDef="document">
                  <th mat-header-cell *matHeaderCellDef> Сертификат </th>
                  <td mat-cell *matCellDef="let element" (click)="download(element.documentKey)"> {{element.documentKey.split('_')[1]}} </td>
                </ng-container>
              
                <ng-container matColumnDef="subject">
                  <th mat-header-cell *matHeaderCellDef> Предмет</th>
                  <td mat-cell *matCellDef="let element">{{element.subject}} </td>
                </ng-container>

                <ng-container matColumnDef="button">
                  <th mat-header-cell *matHeaderCellDef>Дейтсвие</th>
                  <td mat-cell *matCellDef="let element">
                    <button (click)="changeDocument(element)" type="button" class="btn btn-success">
                        <span *ngIf="!element.isValid"> <i class="fas fa-check-circle"></i> Принять &nbsp; &nbsp;</span>
                        <span *ngIf="element.isValid"><i class="fas fa-minus-circle"></i> Отклонить</span>
                    </button> 
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
                            
        </div>
    </div>
</div>      