<div class="card m-3">
    <div  routerLink="/userPage/{{user.userId}}" class="part1"> 
        <img *ngIf="user.userImageKey!=undefined" src="http://localhost:1234/getuserimg/{{user.userImageKey}}" alt="profile_pic" style="width:70px; height:70px; border-radius:50%;">
        <img  *ngIf="user.userImageKey==undefined" src="https://dontshake.org/media/k2/items/cache/71f67488b0857639cee631943a3fc6fa_XL.jpg" alt="profile_pic" style="width:55px">
        <div class="name">{{user.firstname}} {{user.lastname}}</div>
        <div>Учитель</div>
    </div>
    <div class="part2">
       <div class="data mt-1">
        <div class="tools" style="min-height:5px; color:red; font-weight:555;">
                {{message}}
           </div>
           <h4 сlass="title">Документы и Сертификаты </h4>
        </div>
        <div class="documents mt-1">
            <span  *ngFor="let doc of user.documents; let i = index" class="document mr-2">
                    <span (click)="download(doc.documentKey)" style="text-align:center;"><i style="font-size:30px;" class="fas fa-download"></i></span>
                    <span>{{doc.documentKey.split('_')[1]}}</span>
                    <button (click)="changeDocument(doc)" type="button" class="btn btn-success">
                      <span *ngIf="!doc.isValid"> <i class="fas fa-check-circle"></i> Принять </span>
                      <span *ngIf="doc.isValid"><i class="fas fa-minus-circle"></i> Отклонить</span>
                    </button> 
                    
            </span>
            
        </div>
    </div>
</div>      