<div class="user-control ">
    <div class="card mt-4">
        <div class="part1"> 
            <img src="https://images.pexels.com/photos/464509/man-portrait-guy-person-464509.jpeg?auto=compress&amp;cs=tinysrgb&amp;fit=crop&amp;h=627&amp;w=1200" class="avatar" />
            <div class="name"> Armen Tovmasyan</div>
            <div>Студент</div>
        </div>
        <div class="part2">
           <div class="tools">
            <i class="fas fa-cog" style="font-size:22px; cursor:pointer;"></i>
           </div>
           <div class="data mt-3">
               <div><span>Почта - </span> armentovmasyan02@gmail.com</div>
               <div><span>Дата рождения - </span>05.06.2020</div>
               <div><span> Пол- </span>Мужской</div>
               <div><span> Статус - </span>Активный</div>
            </div>
        </div>
    </div>      
</div>