.example-h2 {
    margin: 10px;
  }
  
  .example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
    width:100%;
    justify-content:center;
    align-items:center;
  }
  
  .example-margin {
    margin: 0 10px;
  }

  .example-chip-list
  {
    width:100%;
  }

  .tags
  {
    padding: 0 20% 0 20%;
  }
  .colorx
  {
    background-color:#FCFCFC  !important;
  }
  .filter
  {
    display:flex;
    background-color:#FCFCFC;
    flex-direction:column;
    justify-content:center;
  }

  .price
  {
    display:inline-flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    width:100%;

  }
  .search_bar
 {
   height:60px;
   background-color: #353b48;
   display:flex;
   align-items:center;
   justify-content:space-between;
   border-radius:30px;
 }

 .myrow
 {
   display:flex;
   flex-direction:row;
   justify-content:center;
   align-items:center;
   margin:0 auto;
 }

 .choose_bar
 {
   padding:10px;
 }
 .search_input
 {
  border:0;
  width:0;
  transition: width 0.4s linear;
  line-height:40px;
  background: transparent;
 }

 .search_icon
 {
  width:40px;
  height:40px;
  display:flex;
  justify-content:center;
  align-items:center;
  border-radius:50%;
  cursor:pointer;
 }

 .allfilters{
   margin:20px 100px 0 100px;
 }

.search_bar> .search_input{
    padding: 0 10px;
    width: 450px;
    caret-color:red;
    transition: width 0.4s linear;
    color:white;
    font-size:1.5rem;
    }

    .search_bar> .search_icon{
    background: white;
    color: #e74c3c;
    }