@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.blog-card{
  min-height: 200px;
  margin-left:30px;
  min-width:400px;
  max-width: 850px;
  display:flex;
   align-items: center;
   margin-bottom:30px;
  justify-content: center;
  border-radius: 25px;
  background: white;
  box-shadow:0px 4px 8px 0px rgba(5,5,5,0.5);
 
}

.inner-part{
  display: flex;
  width:95%;
  height:95%;
  padding: 0 5px;
  transition-delay: .3s;
  align-items:center;
}


.inner-part .img{
  display:flex;
  align-items:center;
  height:150px;
  width: 150px;  
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 2px 3px 15px rgba(252,56,56,.1);
  
}

.img img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  cursor: pointer;
  transition: .6s;
  transition-delay: .2s;
}

.content{
  padding: 0 10px 0 20px;
  width:222px;
  height:98%;
  transition: .6s;
  margin-left: 0px;
  transition-delay: .3s;
}


.content span{
  display: block;
  color: #7b7992;
  margin-bottom: 5px;
  font-size: 15px;
  font-weight: 500
}

.content .title{
  font-size: 22px;
  font-weight: 700;
  color: #0d0925;
  margin-bottom:5px;
}

.content .text{
  color: #4e4a67;
  font-size: 19px;
  margin-bottom: 8px;
  line-height: 1em;
  text-align: justify;
}

.content button{
  display: inline-flex;
  padding: 11px 16px;
  border: none;
  font-size: 12px;
  text-transform: uppercase;
  color: #fff0e6;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
  background: linear-gradient(147deg, #fe8a39  0%, #fd3838 74%);
}
.content button:hover{
  background: linear-gradient(147deg, #fe791b 0%, #fd1c1c 74%);
}
