.navbar-blocks
{
    display:flex;
    width:100%;
    justify-content:space-between;
}

.userInfo
{
  color:white;
}

.navbar-auth
{
    display:flex;
}

.navbarx
{
  width:100vw;
	height:10vh;
	background-color:#24292e !important;
	
}

.cursor
{
  cursor:pointer
}
.fix
{
  margin:0;
  padding:0;
}

.notification
{
  margin:auto;
}

a {
  color:black !important;
  text-decoration: none;
}

.marg
{
  margin-left:20px;
}