.cart-input
{
	border:.5px solid teal;
	width:2.8rem;
	height:2.8rem;
	border-radius:8.8px;
	text-align:center;
}

.cart-row
{
    border-bottom:1px solid #e8e4e3;
}
.label
{
	font-size:1.2rem;
	font-weight:555;
}

.cart-item-img
{
	width:100px;

	border-radius:10px;
}

.close-icon
{
	font-size:1.6em;
}

