 <body>
  <app-navbar></app-navbar>
  <div id="sidebar">
        <button mat-raised-button class="ml-2" routerLink="/groupCreate" *ngIf="!searchPanelVisible"><i class="fas fa-plus-circle"></i> Создать группу</button>
        <button mat-raised-button class="ml-2" (click)="openSearchPanel()"><i class="fas fa-search"></i> Поиск</button>
        <form *ngIf="searchPanelVisible" [formGroup]="groupService.getGroupSearchPanel()" class="mt-5">
          <h5>Search Group</h5>
            <div class="form-group container" >
              <label for="">Group name</label>
              <input id="groupName" type="text" class="form-control" formControlName="searchName" autocomplete="off" placeholder="Group name">
              <div *ngIf="groupService.getGroupSearchPanel().controls['searchName'].invalid && groupService.getGroupSearchPanel().controls['searchName'].touched" >
                <small class="form-text text-muted" *ngIf="groupService.getGroupSearchPanel().controls['searchName'].errors.minlength">name is too short</small>
                <small  class="form-text text-muted" *ngIf="groupService.getGroupSearchPanel().controls['searchName'].errors.maxlength">name is too long</small>
              </div>
              <label  for="sel1">Раздел</label>
              <select formControlName="groupSection" class="custom-select" id="sel1" placeholder="Выберите Раздел">
                  <option value="">Любой</option>
                  <option *ngFor="let subject of subjects" value="{{subject.translateName}}">{{subject.name}}</option>
              </select>
            </div>
            <button class="btn btn-light btn-primary-spacing" (click)="search()">Search</button>
            <button class="btn btn-dark btn-primary-spacing" (click)="closeSearchPanel()">Cancel</button>
        </form>
  </div>
  <div id="content">
    <div class="container">
        <ul *ngFor ='let group of groups'>
          <app-group-card [(group)]="group"></app-group-card>
        </ul>
    </div>
  </div>
 </body>
