<app-navbar></app-navbar>
<div class="user-page">
<div id="user-profile-2" class="user-profile">
    <div class="tabbable">
        <div class="tab-content no-border padding-24">
            <div id="home" class="tab-pane in active">
                <div class="row">
                    <div class="col-xs-12 col-sm-3 center">
                        
                        <span  *ngIf="user.userImageKey!=undefined" class="profile-picture">
                            <img class="prof" alt=" Avatar" style="min-width:150px;" id="avatar2" [src]="profileImage">
                        </span>

                        <span  *ngIf="user.userImageKey==undefined"class="profile-picture">
                            <img class="prof" alt=" Avatar" id="avatar2" src="https://dontshake.org/media/k2/items/cache/71f67488b0857639cee631943a3fc6fa_XL.jpg">
                        </span>
                        
                        <div class="space space-4"></div>

                        <a *ngIf="friendStatus == 'none'" (click)="addFriend()" class="btn btn-sm btn-block btn-success">
                            <i class="ace-icon fa fa-user-plus bigger-120"></i>
                            <span class="bigger-110"> Добавить в друзья</span>
                        </a>
                        <a *ngIf="friendStatus == 'ingoing'" (click)="addFriend()" class="btn btn-sm btn-block btn-info">
                            <i class="ace-icon fa fa-user-plus bigger-120"></i>
                            <span class="bigger-110"> Подтвердить заявку</span>
                        </a>
                        <a *ngIf="friendStatus == 'outgoing'" (click)="removeFriend()" class="btn btn-sm btn-block btn-secondary">
                            <i class="ace-icon fa fa-user-times bigger-120"></i>
                            <span class="bigger-110"> Отменить заявку</span>
                        </a>
                        <a *ngIf="friendStatus == 'friend'" (click)="removeFriend()" class="btn btn-sm btn-block btn-danger">
                            <i class="ace-icon fa fa-user-times bigger-120"></i>
                            <span class="bigger-110"> Удалить из друзей</span>
                        </a>

                        <a  *ngIf="myId!=id" class="btn btn-sm btn-block btn-primary" (click)="startDialogWithUser()">
                            <i class="ace-icon fa fa-envelope-o bigger-110"></i>
                            <span class="bigger-110">Написать</span>
                        </a>

                        <button *ngIf="myId==id" data-toggle="modal" data-target="#uploadModel" class="btn btn-sm btn-block btn-primary">
                            <i class="ace-icon fa fa-envelope-o bigger-110"></i>
                            <span class="bigger-110">Обновить фотографию</span>
                        </button>
                    </div><!-- /.col -->

                    <div class="col-xs-12 col-sm-9">
                        <h4 class="blue">
                            <span class="middle mr-3">{{user.firstname}} {{user.lastname}}  
                                <span *ngIf="user.teacherStatus=='CERTIFIED_SPECIALIST'"><i class="fas fa-check-circle"></i></span>
                            </span>

                            <span *ngIf="user.isOnline" span class="label label-purple  c-orange arrowed-in-right">
                                <i class="fas fa-mobile-alt c-orange mr-1"></i>
                                online
                            </span>
                            <span  class="lastOnline" *ngIf="!user.isOnline">
                                Последний раз был в сети {{user.lastTimeWasONLINE.split('T')[1].split('.')[0]}}
                            </span>

                        </h4>

                        <div class="profile-user-info">
                            <div class="profile-info-row">
                                <div class="profile-info-name"> Email </div>

                                <div class="profile-info-value">
                                    <span>{{user.email}}</span>
                                </div>
                            </div>

                            <div class="profile-info-row">
                                <div class="profile-info-name"> Дата рождения</div>

                                <div class="profile-info-value">
                                    <span>{{user.birthDate.split(' ')[0]}}</span>
                                </div>
                            </div>
                            <div class="profile-info-row">
                                <div class="profile-info-name">Пол</div>

                                <div class="profile-info-value">
                                    <span>{{gender()}}</span>
                                </div>
                            </div>
                            <div *ngIf="user.roleName=='ROLE_TEACHER'" class="profile-info-row">
                                <div class="profile-info-name">Рейтинг</div>

                                <div class="profile-info-value">
                                    <span>{{user.reiting}}</span>
                                </div>
                            </div>

                            <div *ngIf="user.roleName=='ROLE_TEACHER'" class="profile-info-row">
                                <div class="profile-info-name">Статус</div>

                                <div class="profile-info-value">
                                    <span *ngIf="user.teacherStatus=='CERTIFIED_SPECIALIST'">Сертифицированный специалист</span>
                                    <span *ngIf="user.teacherStatus=='NOT_A_CERTIFIED_SPECIALIST'">Несертифицированный специалист</span>
                                    <span *ngIf="user.teacherStatus=='CERTIFICATES_ARE_NOT_CHECKED'">Сертификаты проверяются</span>
                                    <span *ngIf="user.teacherStatus=='EMPTY'">Не предоставил сертификаты</span>
                                </div>
                            </div>
                           
                            <div class="profile-info-row">
                                <div class="profile-info-name"> Роль </div>

                                <div class="profile-info-value">
                                    <span>{{role()}}</span>
                                </div>
                            </div>


                        </div>

                        <div class="hr hr-8 dotted"></div>

                        <div class="profile-user-info">

                        </div>
                    </div>
                </div>

                <div class="space-20"></div>

                <div class="row mt-4">
                    <div class="col-xs-12 col-sm-6">
                        <div class="widget-box transparent"> 
                            
                            <div class="m-3">
                                <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                                    <mat-button-toggle *ngIf="user.roleName=='ROLE_TEACHER'" (click)="getFeedBack()" value="ORDER">Отзывы</mat-button-toggle>
                                    <mat-button-toggle (click)="checkAdvEvent()" value="ADVERTISEMENT">Объявления</mat-button-toggle>
                                    <mat-button-toggle (click)="checkFriendsEvent()" value="FRIENDS">Друзья</mat-button-toggle>
                                    <mat-button-toggle (click)="checkGroupsEvent()" value="GROUPS">Группы</mat-button-toggle>
                                    <mat-button-toggle *ngIf="user.roleName=='ROLE_TEACHER'" (click)="checkAboutMeEvent()" value="AboutMe">О себе</mat-button-toggle>
                                    <mat-button-toggle *ngIf="user.roleName=='ROLE_TEACHER'" (click)="checkDocumentsEvent()"value="Documents">Документы</mat-button-toggle>
                                    <mat-button-toggle *ngIf="id !=myId && myId!=undefined" (click)="checkRequestEvent()"value="Requests">Запросы от пользователя</mat-button-toggle>
                                  </mat-button-toggle-group>
                            </div>
                            

                            <div *ngIf="checkRequests" class="widget-header widget-header-small">
                                <h4 class="widget-title smaller">
                                    <i class="ace-icon fa fa-check-square-o bigger-110"></i>
                                    Запросы
                                </h4>
                            </div>

                            <div *ngIf="checkRequests" class="widget-body">
                                <div class="widget-main">
                                    <div  *ngFor="let not of notifications; let i = index">
                                        <div class="notify_item"  >
                                            <div *ngIf="not.notification.userImageKey!=undefined" class="notify_img">
                                                <img src="http://localhost:1234/getuserimg/{{not.notification.userImageKey}}" alt="profile_pic" style="width:70px; height:70px; border-radius:50%;">
                                            </div>
                                            <div *ngIf="not.notification.userImageKey==undefined" class="notify_img">
                                                <img src="https://dontshake.org/media/k2/items/cache/71f67488b0857639cee631943a3fc6fa_XL.jpg" alt="profile_pic" style="width:55px">
                                            </div>
                                            <div class="notify_info mt-3" style="text-align:center;">
                                                <p>{{not.notification.senderFIO}} {{not.notification.message}}<span> {{not.advertisementName}}</span></p>
                                                <span class="notify_time"></span>
                                            </div>
                                        </div>
                                        <div class="notif-buttons mt-2">
                                            <a routerLink="/myorders"><button type="button b" class="btn btn-success mr-2" (click)="onAccept(not)">Принять</button></a>
                                            <button type="button" class="btn btn-warning mr-2" (click)="onReject(not)">Отклонить</button>
                                            <button  type="button" class="btn btn-success" ><a href="/adv/{{not.advertisementId}}" class="ft">Поднобнее</a></button>
                                            </div>
                                        </div>  
                                </div>
                            </div>
                          

                            <div *ngIf="checkAboutMe" class="widget-header widget-header-small">
                                <h4 class="widget-title smaller">
                                    <i class="ace-icon fa fa-check-square-o bigger-110"></i>
                                    O cебе
                                </h4>
                            </div>

                            <div *ngIf="checkAboutMe" class="widget-body">
                                <div class="widget-main">
                                    <p> {{user.aboutMe}}</p>
                                </div>
                            </div>

                            <h4 *ngIf="checkDocuments" class="widget-title smaller mb-3">
                                <i class="ace-icon fa fa-check-square-o bigger-110"></i>
                                Сертификаты и Документы
                            </h4>

                            


                            <div *ngIf="checkDocuments" class="widget-body">
                                <div class="widget-main" class="d-flex flex-direction-column">
                                    <span *ngFor="let doc of documents; let i = index" class="mr-2">
                                        <div (click)="download(doc.documentKey)" ><i class="fas fa-file fontFile"></i></div>
                                        <div class="fontFileName">{{doc.documentKey.split('_')[1]}}</div>
                                    </span>
                                </div>
                            </div>

                            <div *ngIf="checkFeedBack && user.roleName=='ROLE_TEACHER'" class="feedBacks">
                                 <div *ngFor="let order of feed; let i = index">
                                     <app-user-feed-back [(order)]="order"></app-user-feed-back>
                                 </div>
                             </div>
                            
                                  <div *ngIf="checkAdv">
                                    <div class="all-adv">
                                        <p *ngFor="let advx of advs; let i = index">
                                           <app-advertisement-card [(adv)]="advx"></app-advertisement-card>
                                        <p>
                                       </div>
                                    </div>
                                    <ul *ngIf="checkFriends" id='friend-list'>
                                      <div *ngFor="let us of friends">
                                          <li class='friend' routerLink="/userPage/{{us.userId}}">
                                            <img src='https://i.imgur.com/0I4lkh9.jpg' />
                                            <div class='name'>
                                              {{us.lastName}} {{us.firstName}}
                                            </div>
                                          </li>
                                      </div>
                                    </ul>
                                    <ul *ngIf="checkGroups" id='group-list'>
                                      <div *ngFor="let gr of groups">
                                          <li class='group' routerLink="/groupPage/{{gr.groupId}}">
                                            <img *ngIf="gr.image==null"  src='https://mentoringgroup.com/files/images/puzzle-team.jpg'/>
                                            <img *ngIf="gr.image!=null"  src='http://localhost:1234/getAdvImg/{{gr.image}}'/>
                                            <div class='name'>
                                              {{gr.name}}
                                            </div>
                                          </li>
                                      </div>
                                    </ul>
                          </div>
                    </div>
                </div>
           </div>
</div>


<div class="modal fade" id="uploadModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Обновить фото профиля</h5>
          <button type="button" class="close" (click)="close()" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div *ngIf="profileImageUploaded" class="example-2 m-3">{{profileImageUploadMessage}}</div>
        <div *ngIf="!profileImageUploaded" class="example-2 m-3">
            <div class="form-group">
              <label>Вы можете загрузить изображение в формате JPG, JPEG или PNG.</label>
              <input type="file" name="file" id="file"  (change)="handleFileInput($event.target.files)" multiple accept="image/*" class="input-file"/>
              <label for="file" class="btn btn-tertiary js-labelFile">
                <i class="icon fa fa-check"></i>
                <span class="js-fileName">Выбрать файл</span>
              </label>
            </div>
        </div>
        <div class="mb-2 all-images">
            <div class="mb-3" *ngFor="let not of allNames; let i = index" (click)="deleteImageFromList(i)">
                <span  matBadge="x"  matBadgeOverlap="false" >{{not}}</span>
            </div>
       </div>
        <div  *ngIf="!profileImageUploaded" class="modal-footer none-border">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Отменить</button>
          <button type="button" (click)="upload()" class="btn btn-primary">Обновить</button>
        </div>
      </div>
    </div>
  </div>
