<div *ngIf="isLoading" class="adv-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-md-12" >
                <div class="advertisement">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 advertisement-tittle">
                                {{adv.advertisementName}}
                            </div>
                            <div class="col-12 p-0 advertisement-img">
                                <img  src='http://localhost:9999/getimg/{{adv.imageKey}}'/>
                               
                            </div>
                            <div class="col-12  advertisement-des"> 
                                <p class="tittle">Описание<p>
                                <p class="adv-des">
                                   {{adv.description}}
                                </p>
                                <p class="tittle">
                                    Дедлайн до 
                                </p>
                                <p>{{adv.deadline}}</p>
                                <p class="tittle">
                                    Цена - {{adv.budget}} руб.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="leftbar"></div>
            </div>
        </div>
    </div>
</div>


<div *ngIf="!isLoading" class="loading">
    ...loading
    </div>

