@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");

.adv-page
{
    width:100vw;
    background-color:#e8e8e8;
    display:flex;
    padding:50px;
    min-height:100vh;
}

.order-status
{
    font-size:13px;
}

a{
    text-decoration:none;
    color:black !important;
}

.tittle
{
    font-size:16px;
    font-weight:555;
}

.loading
{
    width:100vw;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:33px;
}

.advertisement-tittle
{
    
    font-size:22px;
	background-color:#F6F6F6;
    text-align: center;
    padding:15px;
    font-weight:600;
    box-shadow:0px 4px 8px 0px rgba(5,5,5,0.5);
}

.prop
{
    font-size:22px;
    font-weight:500;   
}

.advertisement-des
{
    padding:15px 30px 30px 30px;
    box-shadow:0px 4px 8px 0px rgba(5,5,5,0.5);
	background-color:#F6F6F6;
	
}

img{
    width: 100%;
    object-fit: cover;
}


.edit 
{
    cursor:pointer;
    font-weight:555;
    font-size:1.8rem;
}


.userName
{
    font-size:16px;
    font-weight:555;
    cursor:pointer
}

.max-he
{
    height:65vh;
}

.img-h
{
    height:100%;
}


.fontFile
{
    cursor: pointer;
    font-size:30px;
}
.attachments
{
    margin-top:15px;
    display:flex;
}

.fontFileName
{
    cursor: pointer;
    font-size:15px;
    margin-right:7px;
}

