<div *ngIf="isLoading" class="adv-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-md-12" >
                <div class="advertisement">
                    <div class="container">
                        <div class="row">                  
                            <div  class="col-12 advertisement-tittle">
                                <div *ngIf="isUserAdv" class="prop d-flex justify-content-end w-100 edit">
                                    <p data-toggle="modal" class="mr-4" data-target="#exampleModalCenter" >
                                        <i class="fas fa-edit"></i>
                                    </p>
                                     <p>  
                                        <i class="fas fa-camera"></i>
                                    </p>
                                   </div>
                                {{adv.advertisementName}}                            
                            </div>
                            <div class="col-12 p-0 advertisement-img">
                                <img src='http://localhost:1234/getimg/{{adv.imageKey}}'/>           
                            </div>
                            <div class="col-12  advertisement-des">                     
                                <p class="tittle">Описание<p>
                                <p class="adv-des">
                                   {{adv.description}}
                                </p>
                                <p class="tittle">
                                    Дедлайн до 
                                </p>
                                <p>{{adv.deadline}}</p>
                                <p class="tittle">
                                    Цена - {{adv.budget}} руб.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="leftbar"></div>
            </div>
        </div>
    </div>
</div>


  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <app-update-advertisement [(id)]="id"></app-update-advertisement>
          
        </div>
      </div>
    </div>
  </div>
