<div class="adv-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-md-12" >
                <div class="advertisement">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 advertisement-tittle">
                                Креативный, стильный, адаптивный логотип
                            </div>
                            <div class="col-12 p-0 advertisement-img">
                                <img src="https://lab2biz.pro/fon.png"/>
                            </div>
                            <div class="col-12  advertisement-des"> 
                                <p class="tittle">Описание<p>
                                <p class="adv-des">
                                    Во вложении бриф на разработку логотипа:<br>
                                    -Скачайте его.<br>
                                    -Заполните максимально подробно, следуя инструкции внутри файла.<br>
                                    -Сохраните результат.<br>
                                    -Отправьте получившийся с информацией файл мне.<br>
                                    Любые мысли и предложения будут полезны!<br>
                                </p>
                                <p class="tittle">
                                    Дедлайн до 
                                </p>
                                <p>30 Марта 2020 12:00</p>
                                <p class="tittle">
                                    Цена - 100 руб.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="leftbar"></div>
            </div>
        </div>
    </div>
</div>