th
{
    text-align:center;
}

table {
    width: 100%;
  }

  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  

  mat-button-toggle-group {
    margin-left: 12px;
  }


  .modal-backdrop {
    z-index: -1;
  }
  

  @import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,600,200,300,900);

$colors: #E89B35 #36CBE9 #A137E7 #E83568;

.user-control
{
    display:flex;
    justify-content:center;
    flex-wrap: wrap;
    align-items:center;
    flex-direction:row;
    min-width:100vw;
    min-height:100vh;
    background-color:#f6f8fa !important;
}

.tools
{
  display:flex;
  width:100%;
  justify-content:flex-end;
}

img {
  object-fit: cover; 
}
.avatar { 
 
  width:80px;
  height:80px;
 border-radius: 50%;
}

.part1
{
  border-right:1px solid blueviolet;
  height:100%;
  min-width:35%;
  max-width:35%;
  display:flex;
  flex-direction:column;
  cursor: pointer;
  justify-content:center;
  align-items:center;
}

.name
{
  font-weight:555;
  font-size:18px;
  text-align:center;
}
.part2
{
  padding:11px;
  width:65%;
  height:100%;
  display:flex;
  flex-direction:column;
}


.card
{
  width:44vw;
  height:200px;
  display:flex;
  flex-direction:row;
  overflow:auto;
  box-shadow:0px 4px 8px 0px rgba(5,5,5,0.5);
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);



.search {
  width: 40%;
  min-height:100px;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 50px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color:black !important;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 50px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color:#fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width:100vw;
  display:flex;
  justify-content:center;
}
    
   
  
