th
{
    text-align:center;
}

table {
    width: 100%;
  }

  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  

  mat-button-toggle-group {
    margin-left: 12px;
  }


  .modal-backdrop {
    z-index: -1;
  }
  
  
