<app-navbar></app-navbar>
<form *ngIf="!sendData" [formGroup]="advService.getAdvForm()" class="signIn">
    <div class="container mt-5 ">
        <div class="row d-flex flex-column justify-content-center  align-items-center">
            <div class="col-md-6 col-sm-12 text-center text-uppercase  signin-label font-weight-bold">Новое Объявление</div>
			<div class="sign-in-errors">
				<p></p>
			</div>
            <div class="col-lg-4 col-md-10">
                <div class="form-group">
                    <label  for="exampleInputEmail1">Название</label>
                    <input  formControlName="advertisementName" type="text" class="form-control" id="Input1" aria-describedby="emailHelp" placeholder="Название">
                </div>
                <div class="form-group">
                    <label  for="sel1">Раздел</label>
                    <select formControlName="advertisementSection" class="custom-select" id="sel1" placeholder="Выберите Раздел">  
                        <option *ngFor="let subject of subjects" value="{{subject.name}}">{{subject.translateName}}</option>  
                      </select>
                </div>
                <div class="form-group">
                    <label for="example-date-input" class="col-xs-2 col-form-label">Дедлайн</label>
                     <input formControlName='deadlineDate' class="form-control" type="date"  id="example-date-input">
                </div>
                <div class="form-group">
                    <label for="example-date-input" class="col-xs-2 col-form-label">Цена (РУБ.)</label>
                    <input formControlName='budget' class="form-control" type="text"  id="example-number-input">
                </div>          
                <div class="form-group">
                    <label for="exampleInputEmail1">Описание</label>
                    <textarea formControlName='description' type="password" class="form-control" id="Input2" rows="5" aria-describedby="emailHelp" placeholder="Описание"></textarea>
                </div>

                <div class="form-group">
                    <div class="example-2 mb-3">
                        <div class="form-group">
                          <input type="file" name="file" id="file1"  (change)="handleCoverFileInput($event.target.files)" multiple accept="image/*" class="input-file"/>
                          <label for="file1" class="btn btn-tertiary js-labelFile">
                            <i class="icon fa fa-check"></i>
                            <span class="js-fileName">  Загрузить фото </span>
                          </label>
                        </div>
                    </div>
                </div>
                <div *ngIf="coverName!=undefined" class="mb-2 all-images">
                    <div class="mb-3" (click)="deleteCoverImage()">
                        <span  matBadge="x"  matBadgeOverlap="false" >{{coverName}}</span>
                    </div>
               </div>

                <div class="form-group">
                    <div class="example-2 mb-3">
                        <div class="form-group">
                          <input type="file" name="file" id="file2"  (change)="handleFileInput($event.target.files)" multiple accept="image/*, .pdf, .txt, .docx" class="input-file"/>
                          <label for="file2" class="btn btn-tertiary js-labelFile">
                            <i class="fas fa-paperclip"></i>
                            <span class="js-fileName">  Прикрепить файлы</span>
                          </label>
                        </div>
                    </div>
                </div>
                <div class="mb-2 all-images">
                    <div class="mb-3" *ngFor="let not of allNames; let i = index" (click)="deleteImageFromList(i)">
                        <span  matBadge="x"  matBadgeOverlap="false" >{{not}}</span>
                    </div>
               </div>
                <div class="">
                    <mat-form-field class="example-chip-list">
                        <mat-chip-list #chipList aria-label="tag selection">
                          <mat-chip *ngFor="let tag of tags" [selectable]="selectable"
                                   [removable]="removable" (removed)="remove(tag)">
                            {{tag.name}}
                            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                          </mat-chip>
                          <input placeholder="Теги"
                                 [matChipInputFor]="chipList"
                                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                 [matChipInputAddOnBlur]="addOnBlur"
                                 (matChipInputTokenEnd)="add($event)">
                        </mat-chip-list>
                      </mat-form-field>
                      
                </div>
            </div>
            <div class="col-md-4 col-sm-4 d-flex justify-content-center">
                <button type="button" (click)="onSubmit()" class="btn btn-success mb-5">Создать</button>
            </div> 
        </div>
    </div>
</form>

<div *ngIf='sendData' class="loading">
    <mat-spinner></mat-spinner>
</div>