
 <div class="container activate-container  d-flex align-items-center justify-content-center">
  <div class="row ">
  <div class="col d-flex justify-content-center activate-font">
    <div *ngIf="loaded">
		<p *ngIf="isActivate">
				Вы прошли активацию   <i class="fas fa-check-circle"></i>
		</p>

		<div *ngIf="isActivate"  class="check-buttons mb-3">
			<div routerLink="../../signin" style='font-size:28px; cursor:pointer;padding:15px; background-color:#e64927; color:white;'>
				Войти <i class="fas fa-sign-in-alt"></i>
			</div>
		</div>
		
		 <p *ngIf="!isActivate">
				Неактуальный код активации <i class="fas fa-exclamation-circle"></i>
		</p>
	</div>
	<p *ngIf="!loaded">loading . . .</p>
	</div>
	</div>
  </div>

 