<form *ngIf="changeResultMessage==undefined"[formGroup]="regService.getRegForm()" class="signIn">
    <div class="container mt-5 ">
        <div class="row d-flex flex-column justify-content-center  align-items-center">
            <div class="col-lg-12 col-md-12 text-center text-uppercase  signin-label font-weight-bold">Редактировать данные</div>
            <form *ngIf="!sendData" [formGroup]="regService.getRegForm()" class="p-5 reg">
                <div class="container">
                    <div class="row d-flex flex-column justify-content-center  align-items-center">
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group" >
                                <label for="exampleInputEmail1">Имя</label>
                                <input type="text" formControlName="userName" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Имя">
                                <div *ngIf="regService.getRegForm().controls['userName'].invalid && (!isValid || regService.getRegForm().controls['userName'].touched)" >    
                                    <b class="form-text" *ngIf="regService.getRegForm().controls['userName'].errors.required">Обязательное поле</b>
                                    <b  class="form-text" *ngIf="regService.getRegForm().controls['userName'].errors.maxlength">Максимальное количество букв-20</b>
                                </div>
                            </div>
                            <div class="form-group" >
                                <label for="exampleInputEmail1">Фамилия</label>
                                <input type="text" formControlName="userSurname" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Фамилия">
                                <div *ngIf="regService.getRegForm().controls['userSurname'].invalid && (!isValid || regService.getRegForm().controls['userSurname'].touched)" >    
                                    <b class="form-text" *ngIf="regService.getRegForm().controls['userSurname'].errors.required">Обязательное поле</b>
                                    <b  class="form-text" *ngIf="regService.getRegForm().controls['userSurname'].errors.maxlength">Максимальное количество букв-20</b>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <label for="exampleInputEmail1">Пол</label>
                            <div class="form-group" >
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" formControlName='gender' type="radio" name="gender" id="inlineRadio1" value="MALE" checked> 
                                    <label class="form-check-label" for="inlineRadio1">мужской</label>
                                  </div>
                                  <div class="form-check form-check-inline">
                                    <input class="form-check-input" formControlName='gender' type="radio" name="gender" id="inlineRadio2" value="FEMALE">
                                    <label class="form-check-label" for="inlineRadio2">женский</label>
                                  </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <label for="example-date-input">Дата рождения</label>
                            <input (change)="dateEvent($event)" class="form-control" formControlName="birthDate" type="date" value="" id="example-date-input">
                            <div class="registration-field mb-3">  
                                    <b>{{yearMessage}}</b>    
                            </div>
                            <div *ngIf="regService.getRegForm().controls['birthDate'].invalid && (!isValid || regService.getRegForm().controls['birthDate'].touched)" >    
                                <b class="form-text" *ngIf="regService.getRegForm().controls['birthDate'].errors.required">Обязательное поле</b>
                               
                            </div>
                        </div>
                        
                        <div class="col-lg-12 col-md-12">    
                            <div *ngIf="role=='ROLE_TEACHER'" class="additional-info">
                                <div class="mb-3">
                                    <label  for="sel1">Уровень образования</label>
                                    <select formControlName="education" class="custom-select" id="sel1" placeholder="Выберите науный степень">  
                                        <option  value="SECONDARY_GENERAL_EDUCATION">Среднее общее образование</option>
                                        <option  value="SECONDARY_PROFESSIONAL_EDUCATION">Среднее професиональное образование</option>
                                        <option  value="HIGHER_EDUCATION">Высшее образование</option>    
                                      </select>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1 mb-3">Расскажите о себе</label>
                                    <textarea  formControlName="aboutMe" type="text" class="form-control" id="Input2" rows="5" aria-describedby="emailHelp" placeholder="О себе"></textarea>
                                </div>
                        
                                
                            </div>
                           
                        </div>
                        <div class="col-lg-10 col-md-12 d-flex justify-content-center mb-2">
                            <button type="button" class="btn btn-success" (click)="onSubmit()">Сохранить изменения</button> 
                        </div>
                        <p *ngIf="!isValid" style="color:red;">Некоторые поля заполнены неправильно !</p> 
                    </div>
                </div>
            </form>    
        </div>
    </div>
</form> 

<div *ngIf="changeResultMessage!=undefined">
    <h2>{{changeResultMessage}}</h2>
</div>