@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");
  
.order-page
{
	padding:50px;
	display:flex;
	min-width:100vw;
	height:100vh;
	align-items:center;
	background-color:#FAFAFA;
	flex-direction:column;
}

.link-block
{
	display:flex;
	flex-direction:row;
	flex-wrap:nowrap;
	border-radius: 4px;
	margin:0;
	background-color: #fff;
	border: 1px solid rgba(118,118,118,0.3);
	box-shadow: 0 3px 6px 1px rgba(154,154,154,0.4);
	max-width:50vw;
	transition-property:height;
	transition: all 0.35s ease-in-out;
	min-height:200px;
	
}



div{
	font-family:fira-sans;
}

.title
{
	font-size:15px;
	font-weight:600;
	font-family:fira-sans;
}

.link-block:hover
{
	box-shadow: 0 3px 6px 1px rgba(154,154,154,0.4);
}



.link-block-img {
	min-height:100%;
	max-height:200px;
}

img{
	margin:0;
	padding:0;
	min-height:100%;
	max-width:30%;
	object-fit: cover;
	border: 1px solid rgba(118,118,118,0.1);
	border-radius: 7px 7px 4px 4px;
}

.content
{
	min-height:100%;
	width:70%;
	transition-property:height;
	margin:0px;
	transition: all 0.35s ease-in-out;
	padding:15px;
}

a{
	color:black !important;
	text-decoration:none;
}
.button-area
{
  width:100%;
  display:flex;
  justify-content:center;
  margin-top:10px;
}
.rating-area:not(:checked) > label:before {
	content: '★';
}
.rating-area > input:checked ~ label {
	color: gold;
	text-shadow: 1px 1px #c60;
}

.rating-area {
	overflow: hidden;
	width: 265px;
	margin: 0 auto;
}
.rating-area:not(:checked) > input {
	display: none;
}
.rating-area:not(:checked) > label {
	float: right;
	width: 42px;
	padding: 0;
	cursor: pointer;
	font-size: 33px;
	line-height: 33px;
	color: lightgrey;
	text-shadow: 1px 1px #bbb;
}

.rating-area:not(:checked) > label:hover,
.rating-area:not(:checked) > label:hover ~ label {
	color: gold;
}
.rating-area > input:checked + label:hover,
.rating-area > input:checked + label:hover ~ label,
.rating-area > input:checked ~ label:hover,
.rating-area > input:checked ~ label:hover ~ label,
.rating-area > label:hover ~ input:checked ~ label {
	color: gold;
	text-shadow: 1px 1px goldenrod;
}
.rate-area > label:active {
	position: relative;
}

.t{
  display:flex;
  align-items:center;
}

.p1
{
  margin:0;
  padding:0;
}
table {
    width: 100%;
  }

  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  