<app-navbar></app-navbar>
<div class="order-page">
<div *ngIf="check">
    <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!-- Position Column -->
        <ng-container matColumnDef="orderId">
        <mat-header-cell *matHeaderCellDef>Номер заказа</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.orderId}} </mat-cell>
        </ng-container>
    
        <!-- Weight Column -->
        <ng-container matColumnDef="freelancerId">
        <mat-header-cell *matHeaderCellDef> Фрилансер</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.freelancerId}} </mat-cell>
        </ng-container>
    
        <!-- Symbol Column -->
        <ng-container matColumnDef="advertisementId">
        <mat-header-cell *matHeaderCellDef>Номер объявления</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.advertisementId}} </mat-cell>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="advertisementName">
            <mat-header-cell *matHeaderCellDef> Название объявления</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.advertisementName}} </mat-cell>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef>Стaтус заказа</mat-header-cell>
            <mat-cell  *matCellDef="let element"> {{element.status}} </mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="actions">
          <span>
            
            <mat-header-cell *matHeaderCellDef>Изменить Стaтус</mat-header-cell>
            <mat-cell *matCellDef="let row">
              <button *ngIf="row.nextStatus!=undefined" (click)="changeOrderStatus(row)" class="btn btn-success">{{row.nextStatus}}</button>
            </mat-cell>
          </span>
        </ng-container>


        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
  </div>

