<div class="notifications">
  <div  class="notification"  *ngFor="let not of notifications; let i = index">
       <span>{{not.senderUsername}} &nbsp;</span><span>{{not.message}}</span> 
       <span>
        <a href="/adv/{{not.advertisementId}}"><<{{not.advertisementName}}>></a>
         
        </span>
       <div class="notif-buttons" *ngIf="not.type=='TAKE_ADVERTISEMENT' || not.type=='RECEIVE_SERVICE'">
        <button type="button b" class="btn btn-success" (click)="onAccept(not)">Принять</button>
        <button type="button" class="btn btn-warning"(click)="onReject(not)">Отклонить</button>
      </div>
   <div>
</div>