<div  class="feedback-block;">
    <div class="comment-info " >
        <img class="avatar mr-2" *ngIf="order.customerImageKey!=undefined" src="http://95.30.222.140:1234/getuserimg/{{order.customerImageKey}}" alt="profile_pic" style="width:70px; height:70px; border-radius:50%;">
        <img   class="avatar mr-2"  *ngIf="order.customerImageKey==undefined" src="https://dontshake.org/media/k2/items/cache/71f67488b0857639cee631943a3fc6fa_XL.jpg" alt="profile_pic" style="width:55px">

        <div class="comment-user-info">
            <span routerLink="/userPage/{{order.customerId}}" style="font-weight:555;cursor:pointer;">{{order.customerFIO}}</span>
                <span class="rating-result">
                    <span *ngFor="let o of rating1; let i = index" class="active"></span>	
                    <span *ngFor="let o of rating2; let i = index"></span>	       
                </span>
                <span class="comment">
                   {{order.comment}}
                </span>
        </div>
    </div> 