<form [formGroup]="signInService.getSignInForm()" class="signIn">
    <div class="container mt-5 ">
        <div class="row d-flex flex-column justify-content-center  align-items-center">
            <div class="col-md-6 col-sm-12 text-center text-uppercase  signin-label font-weight-bold">Новое Объявление</div>
			<div class="sign-in-errors">
				<p></p>
			</div>
            <div class="col-lg-4 col-md-10">
                <div class="form-group">
                    <label  for="exampleInputEmail1">Название</label>
                    <input  type="text" class="form-control" id="Input1" aria-describedby="emailHelp" placeholder="Название">
                </div>
                <div class="form-group">
                    <label  for="sel1">Раздел</label>
                    <select class="custom-select" id="sel1">
                        <option selected>Выберите Раздел</option>
                        <option value="1">Программирование</option>
                        <option value="2">Математика</option>
                        <option value="3">Физика</option>
                        <option value="4">Информатика</option>
                      </select>
                </div>
                <div class="form-group">
                    <label for="example-date-input" class="col-xs-2 col-form-label">Дедлайн</label>
                     <input class="form-control" type="date"  id="example-date-input">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Описание</label>
                    <textarea   type="password" class="form-control" id="Input2" rows="5" aria-describedby="emailHelp" placeholder="Описание"></textarea>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 d-flex justify-content-center">
                <button type="button" class="btn btn-success">Создать</button>
            </div> 
        </div>
    </div>
</form>