<app-navbar></app-navbar>
<form *ngIf="!sendData" [formGroup]="groupService.getGroupCreationForm()" class="p-5 reg">
    <div class="container">
        <div class="row d-flex flex-column justify-content-center  align-items-center">
            <div class="col-md-6 col-sm-12 text-center text-uppercase  registration-label font-weight-bold">Создать группу</div>
            <div class="col-md-4 col-sm-12">
                <div class="form-group" >
                    <label for="exampleInputEmail1">Имя</label>
                    <input type="text" formControlName="groupName" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Имя">
                    <div *ngIf="groupService.getGroupCreationForm().controls['groupName'].invalid && groupService.getGroupCreationForm().controls['groupName'].touched" >
                        <small class="form-text text-muted" *ngIf="groupService.getGroupCreationForm().controls['groupName'].errors.minlength">Минимальное количество букв-5</small>
                        <small  class="form-text text-muted" *ngIf="groupService.getGroupCreationForm().controls['groupName'].errors.maxlength">Максимальное количество букв-15</small>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
              <label  for="sel1">Раздел</label>
              <select formControlName="groupSection" class="custom-select" id="sel1" placeholder="Выберите Раздел">
                  <option *ngFor="let subject of subjects" value="{{subject.translateName}}">{{subject.name}}</option>
              </select>
            </div>
            <div class="col-md-4 col-sm-12">
              <div class="example-2 m-3">
                  <div class="form-group">
                    <label>Вы можете загрузить изображение в формате JPG, JPEG или PNG.</label>
                    <input type="file" name="file" id="file"  (change)="handleFileInput($event.target.files)" multiple accept="image/*" class="input-file"/>
                    <label for="file" class="btn btn-tertiary js-labelFile">
                      <i class="icon fa fa-check"></i>
                      <span class="js-fileName">Выбрать файл</span>
                    </label>
                  </div>
              </div>
              <div class="mb-2 all-images">
                  <div class="mb-3" *ngIf="fileName!=null">
                      <span  matBadge="x" (click)="deleteImage()">{{fileName}}</span>
                  </div>
             </div>
            </div>
            <div class="col-md-4 col-sm-4 d-flex justify-content-center mb-2">
                <button type="button" class="btn btn-success" (click)="onSubmit()">Создать</button>
            </div>
        </div>
    </div>
</form>
