<div class="blog-card">
    <div class="meta">
      <div class="photo">
        <img class="cover-img" [src]="coverImage"/>
      </div>
      
    </div>
    <div class="description">
      <h1>{{order.advertisement.advertisementName}}</h1>
      <h2 *ngIf="myRole=='ROLE_TEACHER'">Заказчик - <span style="cursor:pointer" routerLink="/userPage/{{order.customerId}}">{{order.customerFIO}}</span></h2>   
      <h2 *ngIf="myRole=='ROLE_STUDENT'">Преподаватель - <span style="cursor:pointer" routerLink="/userPage/{{order.freelancerId}}" >{{order.freelancerFIO}}</span></h2>        
      <div><span class="title">Cтатус заказа - </span>{{getStatus(order.status)}}</div>
      <div><span class="title">Дата принятия заказа - </span>24.04.2020</div>
      <div><span class="title">Дедлайн - </span>24.04.2020</div>
      <div *ngIf="order.starsForWork!='0' && order.status=='СOMPLETED'" >
        <div> <span class="title">Оценка - </span>
          <span class="rating-result">
            <span *ngFor="let o of rating1; let i = index" class="active"></span>	
            <span *ngFor="let o of rating2; let i = index"></span>	    
          </span>
        </div>
        <div> <span class="title">Комментарий - </span>{{order.comment}} </div>
      </div>
      <span *ngIf="order.status=='СOMPLETED' "class="title">Файлы</span>
      <div *ngIf="order.status=='СOMPLETED'" class="documents">
          <div *ngFor="let doc of order.orderDocuments; let i = index" class="document mr-3">
            <span (click)="download(doc.documentKey)" style="text-align:center;"><i style="font-size:30px;" class="fas fa-download"></i></span>
              {{doc.documentName}}
      
          </div>
      </div>
      <div *ngIf="openResultBlock">
        <div class="form-group mt-3">
          <div class="example-2 mb-3">
              <div class="form-group">
                <input type="file" name="file" id="file2"  (change)="handleFileInput($event.target.files)" multiple accept="image/*, .pdf, .txt, .docx" class="input-file"/>
                <label for="file2" class="btn btn-tertiary js-labelFile">
                  <i class="fas fa-paperclip"></i>
                  <span class="js-fileName">  Прикрепить файлы</span>
                </label>
              </div>
          </div>
      </div>
      <div class="mb-2 all-images">
          <div class="mb-3" *ngFor="let not of allNames; let i = index" (click)="deleteImageFromList(i)">
              <span  matBadge="x"  matBadgeOverlap="false" >{{not}}</span>
          </div>
     </div>
      </div>
     
      <button *ngIf="myRole=='ROLE_TEACHER' && order.nextStatus!=undefined" (click)="changeOrderStatus(order)" class="btn btn-success mt-3" >{{getNextStatus(order.nextStatus)}}</button>
       <button *ngIf="myRole=='ROLE_STUDENT' && order.starsForWork=='0' && order.status=='СOMPLETED' && !clickRate " (click)="show(order)" class="btn btn-success mt-3"  >Оценить работу</button>
       <button *ngIf="myRole=='ROLE_STUDENT' && order.starsForWork!='0' && order.status=='СOMPLETED' && !clickRate" (click)="show(order)" class="btn btn-success mt-3" >Переоценить работу</button>
      <div *ngIf="ok" class="rating-area">           
        <input (click)="raitingClick($event,not)"  type="radio" id="star-5" name="rating" value="5">
        <label for="star-5" title="Оценка «5»"></label>	
        <input (click)="raitingClick($event,not)"   type="radio" id="star-4" name="rating" value="4">
        <label for="star-4" title="Оценка «4»"></label>    
        <input (click)="raitingClick($event,not)"  type="radio" id="star-3" name="rating" value="3">
        <label for="star-3" title="Оценка «3»"></label>  
        <input (click)="raitingClick($event,not)"  type="radio" id="star-2" name="rating" value="2">
        <label for="star-2" title="Оценка «2»"></label>    
        <input (click)="raitingClick($event,not)"  type="radio" id="star-1" name="rating" value="1">
        <label for="star-1" title="Оценка «1»"></label>
      </div>
      <form *ngIf="ok" class="form-group" [formGroup]="service.getOrderForm()">
        <textarea  formControlName="comment" type="text" class="form-control" id="Input2" rows="4" aria-describedby="emailHelp" placeholder="Оставьте комментарий"></textarea>
      </form>     
      <div *ngIf="ok" class="button-area">
        <button type="button b" (click)="sendFeedBack(order) "class="btn btn-success" >Оценить</button>
      </div>
      <p style="cursor:pointer;" routerLink="/adv/{{order.advertisement.advertisementId}}" class="read-more">
        Подробнее
      </p>
      
    </div>