<app-navbar></app-navbar>
<div *ngIf="load">
	<div class="subject-container-prop ">
      <div class="form-groups">
        <form [formGroup]="service.sendSubjectForm()" class="form-inline mt-5">
            <div class="form-group mx-sm-3 mb-2">
                <input formControlName="translateName" type="text" class="form-control" id="translateName" placeholder="Название предмета">
            </div>
            
            <button type="submit" *ngIf="!isEdit" (click)="submit()" class="btn btn-primary mb-2">Добавить</button>
            <button type="submit" *ngIf="isEdit" (click)="edit()" class="btn btn-primary mb-2">Редактировать</button>
            <span class='ml-2' style="color:red;">{{message}}</span>
        </form>
    </div>
    <table mat-table [dataSource]="subjects" class="mat-elevation-z8">
        <ng-container matColumnDef="translateName">
            <th mat-header-cell *matHeaderCellDef> Предмет (RUS) </th>
            <td mat-cell *matCellDef="let element"> {{element.translateName}} </td>
        </ng-container>
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Редактировать </th>
            <td  style="font-size:18px;" (click)="setEditElement(element)" mat-cell *matCellDef="let element"><i class="fas fa-edit"></i></td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
<div>