th
{
    text-align:center !important; 
    margin-right:10px;
}

td 
{
    text-align:center !important; 
    margin-right:10px;
}
table {
   min-width:30vw;
  }

  .mat-form-field {
    font-size: 14px;
  }

  .subject-container-prop
  {
      height:100vh;
      width:100vw;
      display: flex;
      flex-direction:column;
      align-items:center;
      margin-bottom:10vh;
  }
    

  .form-groups
  {
      margin-bottom:3vh;
  }
