  
 <app-navbar></app-navbar>
<div class="container mt-5">
    <div class="checkBlock">
      <mat-button-toggle-group name="fontStyle" aria-label="Font Style" value="{{check}}">
        <mat-button-toggle  (click)="getValid()" value="valid">Действительные</mat-button-toggle>
        <mat-button-toggle (click)="getUnValid()" value="unValid">Недействительные</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div *ngFor="let user of users; let i = index">
      <app-user-document-item [(user)]="user"></app-user-document-item>
    </div>
  </div>