.all-items
{
    display:flex;
    background-color:#FAFAFA;
    justify-content:center;
    align-items:center;
    width:100vw;
}

.example-card {
    max-width: 250px;
  }


.x
{
    margin:0px;
    padding:0px;
}
