<div class="all-items">
    <mat-card class="example-card m-5">
        <mat-card-header>
          <mat-card-title>Мужская футболка хлопок «GitHub»</mat-card-title>
          <mat-card-subtitle>Цена - 2200 руб.</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://storage.vsemayki.ru/images/0/1/1909/1909039/previews/people_4_manshort_front_lavender_500.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content class="x">
          <p class="x"><b>Доступные размеры</b></p> 
          <p class="x">S,M,XXL</p>
        </mat-card-content>
        <mat-card-actions>
          <button type="button" class="btn btn-success" >Подробно</button>
        </mat-card-actions>
      </mat-card>

      <mat-card class="example-card m-5">
        <mat-card-header>
          <mat-card-title>Мужская футболка 3D «Сталин»</mat-card-title>
          <mat-card-subtitle>Цена - 990 руб.</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://storage.vsemayki.ru/images/0/0/824/824077/previews/people_13_manshortfull_front_white_500.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content class="x">
          <p class="x"><b>Доступные размеры</b></p> 
          <p class="x">S,M</p>
        </mat-card-content>
        <mat-card-actions>
          <button type="button" class="btn btn-success" >Подробно</button>
        </mat-card-actions>
      </mat-card>

</div>