<body>
  <app-navbar></app-navbar>
  <div align="center">
      <div *ngIf="true" class="blog-card" align = left>
        <div class="inner-part">
          <label class="img">
            <img  src='https://mentoringgroup.com/files/images/puzzle-team.jpg'/>
          </label>
          <div class="content ">
            <div class="title">{{group?.name}}</div>
          </div>
        </div>
        <div class="buttons">
          <button mat-raised-button class="ml-2" (click)="openGroupForm()" *ngIf="creator"><i class="fas fa-cog"></i> Настройки</button>
          <button mat-raised-button class="ml-2" (click)="showSubscribers()"><i class="fas fa-user-circle"></i> Участники</button>
          <button mat-raised-button class="ml-2" routerLink="/dialog/{{group.dialogId}}" *ngIf="subscriber"><i class="fas fa-comments"></i> Чат</button>
          <button mat-raised-button class="ml-2" (click)="subscribeGroup()" *ngIf="!subscriber"><i class="fas fa-check"></i> Вступить</button>
          <button mat-raised-button class="ml-2" (click)="leaveGroup()" *ngIf="subscriber"><i class="fas fa-ban"></i> Покинуть</button>
        </div>
      </div>
    </div>
    <div *ngIf="subscriversVisible" class="subscribers">
        <button mat-raised-button class="ml-2" (click)="closeSubscribers()"><i class="fas fa-minus-circle"></i>Закрыть</button>
      <div *ngFor ='let user of users' align="center">
        <app-user-card [(us)]="user"></app-user-card>
      </div>
  </div>
</body>
