
<div *ngIf="friend.userId!=user.userId" class="blog-card">
    <div class="inner-part">
      <label class="img">
        <div *ngIf="userImage==null" class="avatar"><img src="https://dontshake.org/media/k2/items/cache/71f67488b0857639cee631943a3fc6fa_XL.jpg" draggable="false"/></div>
        <div *ngIf="userImage!=null" class="avatar"><img [src]="userImage" draggable="false"/></div>
      </label>
      <div class="content ">
        <h4>{{friend.lastName}} {{friend.firstName}}</h4>
        <div class="buttons">
          <button *ngIf="type == 1"  mat-raised-button class="ml-2" (click)="addFriend()"><i class="fa fa-user-plus"></i>Добавить в друзья</button>
          <button *ngIf="type == 2"  mat-raised-button class="ml-2" (click)="removeFriend()"><i class="fa fa-user-times"></i>Оменить заявку</button>
          <button *ngIf="type == 3"  mat-raised-button class="ml-2" (click)="removeFriend()"><i class="fa fa-user-times"></i>Убрать из друзей</button>
          <button *ngIf="type == 4"  mat-raised-button class="ml-2" (click)="addFriend()"><i class="fa fa-user-plus"></i>Подтвердить заявку</button>
          <button mat-raised-button class="ml-2" routerLink="/userPage/{{friend.userId}}"><i class="fa fa-user"></i>Открыть профиль</button>
        </div>
      </div>
    </div>
  </div>
