@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.blog-card{
  overflow: hidden;
  margin-left:30px;
  margin-top: 5px;
  min-width:400px;
  max-width: 850px;
  display:flex;
   margin-bottom:30px;
  border-radius: 25px;
  background: white;
  box-shadow:0px 4px 8px 0px rgba(5,5,5,0.5);
  flex-direction: column;
  text-align:left;
}

.inner-part{
  overflow: hidden;
  display: flex;
  width:95%;
  display: flex;
}

.comment-part {
  width:95%;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.buttons {
  display: flex;
  flex-direction: row;
  margin: 5px;
}

.buttons button{
  height: 30px;
}

.comments-inner-part{
  flex-direction:column;
}

.comments-inner-part button{
  margin: 5px;
}

.inner-part .img{
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  height:40px;
  width: 40px;
  margin: 10px;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 2px 3px 15px rgba(252,56,56,.1);

}

.img img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  cursor: pointer;
  transition: .6s;
  transition-delay: .2s;
}

.content{
  padding: 0 10px 0 20px;
  width: 100%;
  min-height: 10vh;
  transition: .6s;
  margin-left: 0px;
  transition-delay: .3s;
}

.content button{
  margin: 10px;
}

.content textarea{
  min-height: 10vh;
}

.content span{
  display: block;
  color: #7b7992;
  margin-bottom: 5px;
  font-size: 15px;
  font-weight: 500
}

.content .imag{
  max-width: 100%;
  margin-top: 20px;
}

.imag img{
  max-width: 100%;
}

.content .title{
  font-size: 20px;
  font-weight: 600;
  color: #0d0925;
  margin-bottom:5px;
}

.content .text{
  color: #4e4a67;
  font-size: 17px;
  margin-bottom:5px;
  text-align: justify;
}
