
<div *ngIf="!deleted" class="blog-card">
    <div class="inner-part">
      <label class="img">
        <img *ngIf="groupImage==null"  src='https://mentoringgroup.com/files/images/puzzle-team.jpg'/>
        <img *ngIf="groupImage!=null"  [src]='groupImage'/>
      </label>
      <div class="content" *ngIf="!postSettingsVisible">
        <div class="title">{{groupName}}</div>
        <h6>{{date}}</h6>
        <span>{{post.text}}</span>
        <div class="imag" *ngFor="let img of postImages">
          <img [src]="img"/>
        </div>
      </div>
      <div class="content" *ngIf="postSettingsVisible">
        <form [formGroup]="ps.getPostSettingsForm()">
            <div class="form-group">
              <label for="">Текст</label>
              <textarea maxlength="255" id="Name" type="text" class="form-control" formControlName="text" autocomplete="off" placeholder="text"></textarea>
              <div *ngIf="ps.getPostSettingsForm().controls['text'].invalid && ps.getPostSettingsForm().controls['text'].touched" >
                <small  *ngIf="ps.getPostSettingsForm().controls['text'].errors.minlength">text is too short</small>
              </div>
            </div>
        </form>
        <button mat-raised-button class="ml-2" (click)="sendPostSettings()"><i class="fas fa-check-circle"></i>Отправить</button>
        <button mat-raised-button class="ml-2" (click)="closePostSettings()"><i class="fas fa-times"></i>Отмена</button>
      </div>
      <div class="buttons">
          <button *ngIf="admin && !postSettingsVisible" mat-raised-button class="ml-2" (click)="showPostSettings()"><i class="fa fa-cog"></i></button>
          <button *ngIf="admin && !postSettingsVisible" mat-raised-button class="ml-2" (click)="deletePost()"><i class="fa fa-trash"></i></button>
      </div>
    </div>
    <div class="comment-part">
      <div class="buttons">
        <button *ngIf="!showComments" mat-raised-button class="ml-2" (click)="showCommentsPart()"><i class="fa fa-comment"></i>Коментарии</button>
        <button *ngIf="showComments" mat-raised-button class="ml-2" (click)="closeCommentsPart()"><i class="fas fa-times"></i>Закрыть коментарии</button>
        <button mat-raised-button class="ml-2" *ngIf="!createCommentVisible && showComments"(click)="showCreateComment()"><i class="fas fa-plus-circle"></i>Написать коментарий</button>
        <button *ngIf="showComments && showAllComents" mat-raised-button class="ml-2" (click)="closeAllComments()"><i class="fa fa-comments" aria-hidden="true"></i> скрыть все</button>
      </div>
      <div  *ngIf="showComments">
      <div class="comments-inner-part">
      <form *ngIf="createCommentVisible" [formGroup]="ps.getCommentCreateForm()">
          <div class="form-group">
            <label for="">Текст</label>
            <textarea maxlength="255" id="Name" type="text" class="form-control" formControlName="text" autocomplete="off" placeholder="text"></textarea>
            <div *ngIf="ps.getCommentCreateForm().controls['text'].invalid && ps.getCommentCreateForm().controls['text'].touched" >
              <small  *ngIf="ps.getCommentCreateForm().controls['text'].errors.minlength">Текст слишком короткий</small>
            </div>
          </div>
      </form>
      <button mat-raised-button class="ml-2" *ngIf="createCommentVisible" (click)="sendComment()"><i class="fas fa-check-circle"></i>Отправить</button>
      <button mat-raised-button class="ml-2" *ngIf="createCommentVisible" (click)="closeCreateComment()"><i class="fas fa-times"></i>Отмена</button>
      <div *ngFor="let comment of showedComments">
        <app-comment-card [(comment)]="comment" [(admin)]="admin" [(user)]="user"></app-comment-card>
      </div>
          <button class="ml-2" mat-raised-button *ngIf="!showAllComents && comments?.length > 2" (click)="openAllcoments()"><i class="fa fa-comments" aria-hidden="true"></i> показать все</button>
      </div>
    </div>
    </div>
  </div>
